.loader1 {
  visibility: hidden;
  margin-left: 15px;
  border: 5px solid whitesmoke;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.loader2 {
  visibility: visible;
  margin-left: 50px;
  margin-top: 10px;
  border: 5px solid whitesmoke;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.row4 .col-8 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.row2 .col-11 {
  display: flex;
}

.row5 .col-11 {
  display: flex;
  padding-left: 0px;
}
.subtitle {
  width: 250px;
  white-space: nowrap;
}

.fibCalc {
  margin-bottom: 2.5rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 79px;
  display: flex;
  align-items: flex-end;
  color: #373a3c;
}
.fibForm {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #373a3c;
}

.userInput {
  margin-left: 13px;
  width: 100px;
}

.userOutput {
  width: 300px;
}

.result0 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  color: #373a3c;
}

.userOutputError {
  width: 400px;
}

.result1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 72px;
  color: #373a3c;
}

.btn-primary {
  font-size: 16px;
  padding-top: 7px;
  margin-left: 11px;
}
.error {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  font-size: 12px;
  font-weight: lighter;
  align-self: center;
  margin-left: 36px;
}

.col-4 {
  display: flex;
  align-items: center;
}

.smallOne {
  visibility: hidden;
}

.labelCB {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
}

.cb1 {
  margin-right: 25px;
}
